body{
margin:0;
font-family:Arial, sans-serif;
background:#0F172A;
color:#F8FAFC;
text-align:center;
}

/* BACK TO CONSOLE BUTTON */

.consoleBack{
display:block;
margin:20px auto 30px auto;
padding:14px 28px;

background:#F5CA51;
color:#0F172A;

font-weight:700;
font-size:18px;

border-radius:18px;
border:none;

cursor:pointer;
text-decoration:none;

box-shadow:0 4px 10px rgba(0,0,0,0.25);
}

.consoleBack:hover{
transform:scale(1.03);
}
