
body{
font-family: Arial;
background:#0c2d5c;
color:white;
text-align:center;
}

h1{
font-size:clamp(24px,5vw,48px);
margin-bottom:clamp(20px,5vw,40px);
}

#timer{
display:flex;
align-items:center;
justify-content:center;

width:clamp(70px,12vw,110px);
height:clamp(70px,12vw,110px);

border-radius:50%;
border:clamp(5px,1vw,8px) solid #7cc142;

font-size:clamp(16px,3vw,28px);

background:white;
color:#0c2d5c;
margin:auto;
}
.topRow{
display:grid;
grid-template-columns:1fr 140px 1fr;
gap:20px;
align-items:center;
max-width:700px;
margin:20px auto;
}

.tile.large{
background:#ffd84d;
color:#0c2d5c;
padding:30px;
border-radius:12px;
font-size:20px;
font-weight:bold;
}

#grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:clamp(12px,2vw,24px);

width:min(92vw,520px);

margin:auto;
padding:20px;
}

.tile{
background:#F5CA51;
border-radius:clamp(12px,2vw,20px);
cursor:pointer;
color:#0c2d5c;
font-weight:bold;

display:flex;
align-items:center;
justify-content:center;
text-align:center;

height:clamp(100px,16vw,160px);
padding:10px;

font-size:clamp(18px,3vw,28px);

transition:0.2s;
}
.tile img{
max-width:95%;
max-height:95%;
object-fit:contain;
border-radius:6px;
}

.tile:hover{
transform:scale(1.05);
box-shadow:0 8px 18px rgba(0,0,0,0.45);
}

.tile{
box-shadow:0 4px 12px rgba(0,0,0,0.3);
}

.correct{
background:#7cc142;
color:white;
}

.wrong{
background:#ff4d4d;
}
#imageOverlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.85);

display:none;
align-items:center;
justify-content:center;
z-index:999;
}

#overlayImage{
max-width:90%;
max-height:90%;
border-radius:10px;
}

.zoomed{
transform:scale(2);
z-index:20;
position:relative;
transition:0.2s;
cursor:zoom-out;
}

.tile img{
touch-action:manipulation;
}
.selected{
border:4px solid white;
box-shadow:0 0 0 4px #0c2d5c, 0 0 18px rgba(255,255,255,0.7);
transform:scale(1.06);
}
