
body{
font-family: Arial;
background:#0c2d5c;
color:white;
text-align:center;
}

h1{
font-size:clamp(24px,5vw,48px);
margin-bottom:clamp(20px,5vw,40px);
}

#timer{
display:flex;
align-items:center;
justify-content:center;

width:clamp(70px,12vw,110px);
height:clamp(70px,12vw,110px);

border-radius:50%;
border:clamp(5px,1vw,8px) solid #7cc142;

font-size:clamp(16px,3vw,28px);

background:white;
color:#0c2d5c;
margin:auto;
}
.topRow{
display:grid;
grid-template-columns:1fr 140px 1fr;
gap:20px;
align-items:center;
max-width:700px;
margin:20px auto;
}

.tile.large{
background:#ffd84d;
color:#0c2d5c;
padding:30px;
border-radius:12px;
font-size:20px;
font-weight:bold;
}
#grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:clamp(10px,2vw,24px);

width:min(90vw,700px);
margin:auto;
}

.tile{

background:#F5CA51;
border-radius:clamp(12px,2vw,20px);
cursor:pointer;
color:#0c2d5c;
font-weight:bold;

display:flex;
align-items:center;
justify-content:center;
text-align:center;

/* GROTERE TILES */
height:clamp(100px,18vw,180px);
padding:10px;

/* GROTERE TEKST */
font-size:clamp(18px,4vw,32px);

transition:0.2s;
}
.tile img{
max-width:90%;
max-height:90%;
object-fit:contain;
pointer-events:none;
}

.tile:hover{
transform:scale(1.05);
}
.tile{
box-shadow:0 4px 12px rgba(0,0,0,0.3);
}

.correct{
background:#7cc142;
color:white;
}

.wrong{
background:#ff4d4d;
}
