
body{
font-family: Arial;
background:#0c2d5c;
color:white;
text-align:center;
}

header{
padding:20px;
font-size:28px;
}

#timer{
width:120px;
height:120px;
border-radius:60px;
border:8px solid #7cc142;
display:flex;
align-items:center;
justify-content:center;
margin:20px auto;
font-size:28px;
background:white;
color:#0c2d5c;
}
.topRow{
display:grid;
grid-template-columns:1fr 140px 1fr;
gap:20px;
align-items:center;
max-width:700px;
margin:20px auto;
}

.tile.large{
background:#ffd84d;
color:#0c2d5c;
padding:30px;
border-radius:12px;
font-size:20px;
font-weight:bold;
}
#grid{
display:grid;
grid-template-columns: repeat(3, 200px);
gap:20px;
justify-content:center;
margin-top:40px;
}

.tile{
background:#ffd84d;
padding:30px;
border-radius:12px;
font-size:20px;
cursor:pointer;
color:#0c2d5c;
font-weight:bold;
transition:0.3s;
}

.tile:hover{
transform:scale(1.05);
}

.correct{
background:#7cc142;
color:white;
}

.wrong{
background:#ff4d4d;
}
